@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CinemaHub</h1>
    <p>Here you can manage movies and actors! Add new actors and movies, and keep track of which actors played a role in your favorite films.</p>
</div>

<div id="home-image">
    <img src="https://media.istockphoto.com/id/1642381175/vector/cinema.jpg?s=612x612&w=0&k=20&c=owIct55daWlWRwPbTYLI9Y1IsrgYiqJcpvvgycvxBhE=" width="300" />
</div>


