@model Spring2026_Project3_shobrien.Models.MovieActorViewModel

@{
    ViewData["Title"] = "Add Movie-Actor Relationship";
}
<h1>@ViewData["Title"]</h1>

<h3>Create an item</h3>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Actor</label>
        <select asp-for="ActorID" class="form-control" asp-items="@(new SelectList(ViewBag.Actors, "ActorID", "Name"))">
			<option value="">-- Select Actor --</option>
        </select>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <select asp-for="MovieID" class="form-control" asp-items="@(new SelectList(ViewBag.Movies, "MovieID", "Title"))">
            <option value="">-- Select Movie --</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Relationship</button>
</form>
